*.o
*.swp
*~
*.obj
.sconsign.dblite
/.sconf_temp
/goxel
/imgui.ini
/config.log
.DS_Store
xcuserdata/
/todo
/.vimrc
goxel.exe
callgrind.out.*
*.gox
.vscode/settings.json
goxel-aos.code-workspace
.vscode/settings.json
